.decoration {
	padding: 250px 0;
	margin: -230px 0;
	position: relative;
	z-index: 1;
	@media (max-width: 768px) {
		margin-top: -350px;
	}
	&::before {
		content: "";
		background: url("../img/decoration/bg.png") center/cover no-repeat;
		right: 0;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		height: 640px;
		position: absolute;
		z-index: 1;
	}
	&__body {
		position: relative;
		display: flex;
		justify-content: flex-end;
	}

	&__text {
		color: #0093a1;
		text-transform: uppercase;
		&:nth-child(1) {
			position: absolute;
			top: -240px;
			right: 142px;
			font-family: "Comfortaa", sans-serif;
			font-weight: 400;
			font-size: 130px;
			line-height: calc(145px / 130px * 100%);
			opacity: 0.3;
			z-index: 0;
			@media (max-width: 768px) {
				right: 0;
				font-size: 100px;
			}
		}
		&:nth-child(2) {
			position: absolute;
			top: -100px;
			right: 70%;
			transform: translateX(70%);
			font-family: "Comfortaa", sans-serif;
			font-weight: 400;
			font-size: 130px;
			line-height: calc(145px / 130px * 100%);
			opacity: 0.3;
			z-index: 1;
			@media (max-width: 768px) {
				font-size: 100px;
			}
		}
		&:nth-child(3) {
			max-width: 359px;
			font-family: "Inter", sans-serif;
			font-style: italic;
			font-weight: 300;
			font-size: 32px;
			line-height: calc(39px / 32px * 100%);
			text-align: center;
			margin-right: 135px;
			z-index: 2;
			@media (max-width: 768px) {
				margin-right: 0;
			}
		}
	}
}
