.info {
	background: url("../img/info/bg.png") top/cover no-repeat;
	padding: 90px 0 50px;
	@media (max-width: 768px) {
		padding-top: 250px;
	}
	&__body {
	}

	&__header {
		display: flex;
		gap: 82px;
		padding-bottom: 75vh;
		@media (max-width: 1024px) {
			flex-wrap: wrap;
			gap: 25px;
			padding-bottom: 50px;
		}
	}

	&__text {
		flex: 1 1 auto;
	}

	&__btn {
		position: absolute;
		right: 0;
		bottom: 0;
		@media (max-width: 768px) {
			position: relative;
			right: unset;
		}
	}

	&__specs {
		display: flex;
		align-items: center;
		gap: 162px;
		color: #fff;
		@media (max-width: 768px) {
			display: block;
		}
	}
}
.info-header {
	&__column {
		padding-top: 260px;
		max-width: 290px;
		color: #fff;
		position: relative;
		padding-bottom: 30px;
		& > * + * {
			margin-top: 15px;
		}
		&:nth-child(2) {
			border-bottom: 1px solid #fff;
		}
		@media (max-width: 1024px) {
			max-width: 45%;
		}
		@media (max-width: 768px) {
			max-width: 100%;
			padding-top: 0;
		}
	}

	&__image {
		position: relative;
		z-index: 2;
		@media (max-width: 1024px) {
			flex: 1 1 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.info-specs {
	&__title {
	}

	&__content {
	}

	&__list {
		max-width: 580px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		padding: 30px 0;
	}

	&__item {
		display: flex;
		width: 100%;
		gap: 25px;
		font-weight: 700;
		text-transform: uppercase;
		& + * {
			margin-top: 15px;
		}
		@media (max-width: 768px) {
			display: block;
		}
	}

	&__category {
		min-width: 192px;
		@media (max-width: 768px) {
			min-width: none;
		}
	}

	&__text {
	}
}
