/*--- Base Styles ---*/
html,
body {
	height: 100%;
}
body {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	color: #262c27;
	line-height: calc(22 / 18 * 100%);
	background: #fff;
}

/*--- Utility ---*/
.none {
	display: none !important;
}

.visually-hidden {
	// делает элемент скрытым, но он по-прежнему на странице
	position: absolute;
	opacity: 0;
	visibility: hidden;
	width: 0px;
	height: 0px;
	display: block;
	margin-left: -10000px;
	background: transparent;
	font-size: 0;
}

/*--- Grid ---*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

/*--- Elements ---*/
.--ibg {
	position: relative;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.btn {
	&__icon {
		& + * {
			margin-top: 12px;
		}
	}

	&__text {
		display: block;
		color: #fff;
		transition: all 0.3s;
	}
	svg {
		circle {
			transition: all 0.3s;
		}
		path {
			transition: all 0.3s;
		}
	}
	&:hover span {
		color: #b9c400;
	}
	&:hover svg {
		circle {
			stroke: #b9c400;
		}
		path {
			fill: #b9c400;
		}
	}
}
.title {
	text-transform: uppercase;
	font-family: "Comfortaa", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: calc(67px / 60px * 100%);
	@media (max-width: 768px) {
		font-size: 40px;
	}
}
